### Laboratorio # 3

- ##### Diego Alberto Leiva 21752
- ##### José Pablo Orellana 21970

Librerías

In [122]:
import pandas as pd
from pymongo import MongoClient

### Importar la Data

In [123]:
# Cargar el archivo CSV
data = pd.read_csv('supermarket_sales.csv')

### Obtener las caracteristicas de la data

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [125]:
data.shape

(1000, 17)

### Mostrar estructura de la data

In [126]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [127]:
data.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

### Busqueda de valores nulos

In [128]:
data.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

### Busqueda de valores duplicados

In [129]:
data.duplicated().sum()

0

### Transformacion de campos

In [130]:
# Combinar los campos de fecha y hora en un solo campo
data['DateTime'] = pd.to_datetime(data['Date'] + ' ' + data['Time'])

# Eliminar las columnas originales del data frame
data.drop(['Date', 'Time'], axis=1, inplace=True)

### Cambio de nombres a columnas

In [131]:
# Traducir los nombres de las columnas
nuevos_nombres = {
    'Invoice ID': 'ID de Factura',
    'Branch': 'Sucursal',
    'City': 'Ciudad',
    'Customer type': 'Tipo de Cliente',
    'Gender': 'Genero',
    'Product line': 'Linea de Producto',
    'Unit price': 'Precio Unitario',
    'Quantity': 'Cantidad',
    'Tax 5%': 'Impuesto',
    'Total': 'Total',
    'DateTime': 'Fecha y hora',
    'Payment': 'Metodo de Pago',
    'cogs': 'Costo de Bienes Vendidos (COGS)',
    'gross margin percentage': 'Porcentaje de Margen Bruto',
    'gross income': 'Ingreso Bruto',
    'Rating': 'Calificacion'
}

# Renombrar las columnas en el DataFrame
data.rename(columns=nuevos_nombres, inplace=True)

# Guardar el DataFrame modificado en un nuevo archivo CSV
data.to_csv('ventas_supermercado.csv', index=False)

### Cargar los datos con la data modificada

In [132]:
# Cargar el archivo CSV
df = pd.read_csv('ventas_supermercado.csv')

### Visualizar los cambios

In [133]:
df.head()

,ID de Factura,Sucursal,Ciudad,Tipo de Cliente,Genero,Linea de Producto,Precio Unitario,Cantidad,Impuesto,Total,Metodo de Pago,Costo de Bienes Vendidos (COGS),Porcentaje de Margen Bruto,Ingreso Bruto,Calificacion,Fecha y hora
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05 13:08:00
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,Cash,76.40,4.761905,3.8200,9.6,2019-03-08 10:29:00
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,Credit card,324.31,4.761905,16.2155,7.4,2019-03-03 13:23:00
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27 20:33:00
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08 10:37:00

In [134]:
df.tail()

,ID de Factura,Sucursal,Ciudad,Tipo de Cliente,Genero,Linea de Producto,Precio Unitario,Cantidad,Impuesto,Total,Metodo de Pago,Costo de Bienes Vendidos (COGS),Porcentaje de Margen Bruto,Ingreso Bruto,Calificacion,Fecha y hora
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,Ewallet,40.35,4.761905,2.0175,6.2,2019-01-29 13:46:00
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,Ewallet,973.80,4.761905,48.6900,4.4,2019-03-02 17:16:00
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,Cash,31.84,4.761905,1.5920,7.7,2019-02-09 13:22:00
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,Cash,65.82,4.761905,3.2910,4.1,2019-02-22 15:33:00
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,Cash,618.38,4.761905,30.9190,6.6,2019-02-18 13:28:00

### Estadistica descriptiva

In [135]:
df.describe()

,Precio Unitario,Cantidad,Impuesto,Total,Costo de Bienes Vendidos (COGS),Porcentaje de Margen Bruto,Ingreso Bruto,Calificacion
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

### Bulkwrite de la data a MongoDB Atlas

In [136]:
# Paso 1: Convertir el data frame modificado a una lista de diccionarios
data_to_insert = df.to_dict(orient='records')

# Paso 2: Conectarse a una instancia de monggoDB Atlas
mongo_uri = 'mongodb+srv://lei21752:pux2912@cluster.xjohdzx.mongodb.net/?retryWrites=true&w=majority'
client = MongoClient(mongo_uri)

# Paso 3: Especificar la Base de datos y la colecion a usar
db = client['lab3'] 
collection = db['ventas_supermercado']

# Paso 4: Insertar la data en la coleccion
collection.insert_many(data_to_insert)

print("Data inserted successfully.")

Data inserted successfully.