### Laboratorio # 3

- ##### Diego Alberto Leiva 21752
- ##### José Pablo Orellana 21970

Librerías

In [1]:
import pandas as pd

Cargar Archivo

In [4]:
# Cargar el archivo CSV
df = pd.read_csv('supermarket_sales.csv')

Cambiar nombre de las columnas

In [5]:
# Traducir los nombres de las columnas
nuevos_nombres = {
    'Invoice ID': 'ID de Factura',
    'Branch': 'Sucursal',
    'City': 'Ciudad',
    'Customer type': 'Tipo de Cliente',
    'Gender': 'Género',
    'Product line': 'Línea de Producto',
    'Unit price': 'Precio Unitario',
    'Quantity': 'Cantidad',
    'Tax 5%': 'Impuesto 5%',
    'Total': 'Total',
    'Date': 'Fecha',
    'Time': 'Hora',
    'Payment': 'Método de Pago',
    'cogs': 'Costo de Bienes Vendidos (COGS)',
    'gross margin percentage': 'Porcentaje de Margen Bruto',
    'gross income': 'Ingreso Bruto',
    'Rating': 'Calificación'
}

# Renombrar las columnas en el DataFrame
df.rename(columns=nuevos_nombres, inplace=True)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv('datos_new.csv', index=False)

Cargar de nuevo los datos con nuevas columnas

In [6]:
# Cargar el archivo CSV
df = pd.read_csv('datos_new.csv')

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.duplicated().sum()

0

In [9]:
df.isnull().sum()

ID de Factura                      0
Sucursal                           0
Ciudad                             0
Tipo de Cliente                    0
Género                             0
Línea de Producto                  0
Precio Unitario                    0
Cantidad                           0
Impuesto 5%                        0
Total                              0
Fecha                              0
Hora                               0
Método de Pago                     0
Costo de Bienes Vendidos (COGS)    0
Porcentaje de Margen Bruto         0
Ingreso Bruto                      0
Calificación                       0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID de Factura                    1000 non-null   object
 1   Sucursal                         1000 non-null   object
 2   Ciudad                           1000 non-null   object
 3   Tipo de Cliente                  1000 non-null   object
 4   Género                           1000 non-null   object
 5   Línea de Producto                1000 non-null   object
 6   Precio Unitario                  1000 non-null   float64
 7   Cantidad                         1000 non-null   int64
 8   Impuesto 5%                      1000 non-null   float64
 9   Total                            1000 non-null   float64
 10  Fecha                            1000 non-null   object
 11  Hora                             1000 non-null   object
 12  Método de Pago                   1000 non-null   object
 13  Costo de Bienes Vendidos (COGS)  1000 non-null   float64
 14  Porcentaje de Margen Bruto       1000 non-null   float64
 15  Ingreso Bruto                    1000 non-null   float64
 16  Calificación                     1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [11]:
df.head()

,ID de Factura,Sucursal,Ciudad,Tipo de Cliente,Género,Línea de Producto,Precio Unitario,Cantidad,Impuesto 5%,Total,Fecha,Hora,Método de Pago,Costo de Bienes Vendidos (COGS),Porcentaje de Margen Bruto,Ingreso Bruto,Calificación
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3